version: "3.8"
services:
  server:
    build: ./server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    # load variables from server/.env (do NOT commit server/.env with secrets)
    env_file:
      - ./server/.env
